/***************************************************/
/* HEADER */
/***************************************************/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fdf2e9;
  /* usually we let content with padding define the height but here made it with height since header will be sticky as we scroll */
  height: 9.6rem;
  padding: 0 4.8rem;
}
.logo {
  height: 2.2rem;
}

/***************************************************/
/* NAVIGATION */
/***************************************************/
.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
  align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

/* added and selector to up the specifity in case this line of code gets above the .main-nav-link block which will trigger the color kinda black and we dont want that to happen */
.main-nav-link.main-nav-cta:link,
.main-nav-link.main-nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}
.main-nav-link.main-nav-cta:hover,
.main-nav-link:active {
  background-color: #cf711f;
}
/***************************************************/
/* HERO SECTION */
/***************************************************/
.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.hero-fixed {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
  padding: 0 3.2rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.delivered-customers {
  display: flex;
}

.delivered-customers img {
  height: 4.8rem;
  width: 4.8rem; /*safari-bug*/
  border: 3px solid #fdf2e9;
  border-radius: 50%;
  margin-right: -1.6rem;
}

.delivered-customers img:last-child {
  margin: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}
/***************************************************/
/* FEATURED IN SECTION */
/***************************************************/
.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}
.heading-featured {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 0.5;
}
/***************************************************/
/* SECTION HOW  */
/***************************************************/
.section-how {
  padding: 9.6rem 0;
}
.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.step-img {
  width: 35%;
}
.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  width: 60%;
  /* height: 60%; /*doesnt work since there is no height given for parent **/
  padding-bottom: 60%; /*60% of parent width */

  position: absolute;
  /* we dont need to set the position as it is a flex item and absolutely positioned items are affected by flex settings */
  border-radius: 50%;
  z-index: -1;
}
.step-img-box::before {
  background-color: #fdf2e9;
  width: 60%;
  /* height: 60%; /*doesnt work since there is no height given for parent **/
  padding-bottom: 60%; /*60% of parent width */
  z-index: -2;
}

.step-img-box::after {
  background-color: #fae5d3;
  width: 45%;
  padding-bottom: 45%;
  z-index: -1;
}

/***************************************************/
/* MEALS SECTION */
/***************************************************/
.section-meals {
  padding: 9.6rem;
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  /* any content that gets out of this element will be hidden used when rounding the corner so content inside doesnt get rounded too so you have to use this property to make it look like it was rounded too */
  overflow: hidden;
  transition: all 0.4s;
}

.meal:hover {
  /* transform: translate(0, -1.1rem); */
  transform: translateY(-1.2rem);
  /* box is now closer to the source of the light which comes from above the element */
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.meal-text {
  padding: 4.8rem;
  padding-top: 3.2rem;
}
.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}
.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
}

.tag--vegan {
  background-color: #94d82d;
}

.tag--vegetarian {
  background-color: #51cf66;
}

.tag--paleo {
  background-color: #ffd43b;
}
.meal-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.meal-img {
  width: 100%;
}

.meal-icon {
  /*font size would also work */
  height: 2.4rem;
  width: 2.4rem;
  /* could be fill or stroke */
  color: #e67e22;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.list-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}

.all-recipes {
  text-align: center;
  font-size: 1.8rem;
}
